@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* Colors */
    --neutral-900: #03012dff;
    --neutral-800: #272541ff;
    --neutral-700: #312f4bff;
    --neutral-600: #3d3b5eff;
    --neutral-300: #aeaeb7ff;
    --neutral-200: #d5d4d9ff;
    --neutral-0: #ffffffff;

    --orange-500: #ff7c0aff;

    --blue500: #4455daff;
    --blue700: #2d1c9cff;

    /* Font Family with their weights */
    --font-f-DM-Sans: "DM Sans", sans-serif;
    --font-f-Bricolage-Grotesque: "Bricolage Grotesque", sans-serif;
    /* Weights */
    --font-w-300: 300;
    --font-w-500: 500;
    --font-w-600: 600;
    --font-w-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REUSABLE classes */

.d-none {
    display: none;
}

/* Flex */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.just-c-sb {
    justify-content: space-between;
}

.just-c-center {
    justify-content: center;
}

.align-i-center {
    align-items: center;
}

/* Grid */

.d-grid {
    display: grid;
}

/* Gap classes */

.gap-05r {
    gap: 0.5rem;
}

.gap-1r {
    gap: 1rem;
}

.gap-1-5r {
    gap: 1.5rem;
}

.gap-2r {
    gap: 2rem;
}

/* Color classes */

.color-w {
    color: var(--neutral-0);
}

.color-neutral-300 {
    color: var(--neutral-300);
}

/* Typography */

.font-f-D-S {
    font-family: var(--font-f-DM-Sans);
}

.font-f-B-G {
    font-family: var(--font-f-Bricolage-Grotesque);
}

.font-w-300 {
    font-weight: var(--font-w-300);
}

.font-w-500 {
    font-weight: var(--font-w-500);
}

.font-w-600 {
    font-weight: var(--font-w-600);
}

.font-w-700 {
    font-weight: var(--font-w-700);
}

.font-s-1r {
    font-size: 1rem;
}

.font-st-i {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.main-heading-text {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

/* Padding and Margin classes  */

.pad-05r-1r {
    padding: 0.5rem 1rem;
}

.pad-05r {
    padding: 0.5rem;
}

.pad-1r {
    padding: 1rem;
}

.pad-tb-1-lr-05 {
    padding: 1rem 0.7rem;
}

.pad-1-5r {
    padding: 1.5rem;
}

.mar-tb-1-5r {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Other */

.bor-rad-10 {
    border-radius: 10px;
}

.cursor-p {
    cursor: pointer;
}

.tr-a-03s-ea {
    transition: all 0.3s ease;
}

.bor-top-1 {
    border-top: 2px solid var(--neutral-600);
}

.trans-rotate-180deg {
    transform: rotate(180deg);
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

/* ---------- ---------- ---------- */
body {
    background-color: var(--neutral-900);
    padding: clamp(1rem, 4vw, 2rem) clamp(1rem, 5vw, 4rem);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    width: clamp(45%, 85%, 100%);
    height: auto;
}

.units {
    background-color: var(--neutral-800);
    position: relative;
    outline-offset: 2px;
}

.units:hover {
    background-color: var(--neutral-600);
}

.units:hover .units-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.units:hover .icon {
    transform: rotate(180deg);
}

.units:focus {
    background-color: var(--neutral-600);
    outline: 2px solid var(--neutral-0);
}

.search-box {
    background-color: var(--neutral-800);
    width: clamp(30%, 40%, 100%);
}

.search-input {
    outline: none;
    background: var(--neutral-800);
    border: none;
    caret-color: var(--neutral-300);
    font-weight: var(--font-w-600);
    width: 100%;
}

.search-input::placeholder {
    color: var(--neutral-300);
    font-weight: var(--font-w-600);
}

.search-btn {
    background-color: var(--blue500);
    border: none;
    outline-offset: 2px;
}

.search-btn:hover {
    background-color: var(--blue700);
}

.search-btn:focus {
    outline: 2px solid var(--blue500);
}

.sec-2 {
    grid-template-columns: 2fr 1fr;
}

.current-temp-container {
    grid-template-rows: 2fr 1fr;
}

.current-temp-box {
    background-image: url('assets/images/bg-today-large.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: clamp(1rem, 4vw, 4rem) 1rem;
}

.current-temp-text {
    font-size: clamp(3rem, 5vw, 5rem);
}

.current-temp-icon {
    width: clamp(5rem, 6vw, 6rem);
    height: auto;
}

.current-temp-info-box,
.current-temp-info-box-loading {
    grid-template-columns: repeat(4, 1fr);
}

.current-temp-info,
.current-temp-info-loading {
    background-color: var(--neutral-800);
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    border: 1px solid var(--neutral-600);
}

.daily-f-container,
.daily-f-container-loading {
    grid-template-columns: repeat(7, 1fr);
}

.daily-f-icon {
    width: 3.5rem;
    height: auto;
}

.daily-f-box {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    padding: 1rem;
}

.day-max-temp,
.day-min-temp {
    font-size: 14px;
}

.current-temp-box-loading {
    background-color: var(--neutral-800);
    width: 100%;
    height: 100%;
}

.current-temp-info-loading,
.daily-f-box-loading {
    background: linear-gradient(120deg,
            var(--neutral-800) 30%,
            var(--neutral-600) 38%,
            var(--neutral-600) 40%,
            var(--neutral-800) 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Skeleton 1.5s infinite;
}

.daily-f-box-loading {
    border: 1px solid var(--neutral-600);
    background-color: var(--neutral-800);
    padding: 4.4rem 3rem;
}

.circle-1,
.circle-2,
.circle-3 {
    background-color: var(--neutral-300);
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
}

.circle-1 {
    animation: Wave 0.6s ease infinite alternate 0.2s;
}

.circle-2 {
    animation: Wave 0.6s ease infinite alternate 0.4s;
}

.circle-3 {
    animation: Wave 0.6s ease infinite alternate 0.6s;
}

@keyframes Wave {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

@keyframes Skeleton {
    100% {
        background-position: -100% 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.units-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--neutral-700);
    opacity: 0;
    transform: translateY(-50%);
    pointer-events: none;
    width: max-content;
    z-index: 10;
}

.units-list li:hover {
    background-color: var(--neutral-600);
}

.active {
    background-color: var(--neutral-600);
}

.active img {
    display: block;
}

.hourly-f-icon {
    width: 3rem;
    height: auto;
}

.hourly-f-container {
    background-color: var(--neutral-800);
    width: 100%;
    height: 38rem;
    overflow-y: auto;
}

.hour-box {
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
}

.hourly-f-container::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.hourly-f-container::-webkit-scrollbar-thumb {
    background-color: var(--neutral-600);
}

.select-days {
    background-color: var(--neutral-600);
    position: relative;
}

.list-days.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.list-days {
    position: absolute;
    top: 100%;
    opacity: 0;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: var(--neutral-800);
    right: 0;
    border: 1px solid var(--neutral-600);
    width: 13rem;
}

.list-days li:hover {
    background-color: var(--neutral-600);
}

.hour-box-loading {
    background: linear-gradient(120deg,
            var(--neutral-800) 30%,
            var(--neutral-600) 38%,
            var(--neutral-600) 40%,
            var(--neutral-800) 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Skeleton 1.5s infinite;
    border: 1px solid var(--neutral-600);
    height: 3rem;
    width: 100%;
}

.error-icon {
    width: 3rem;
    height: auto;
}

.retry-btn {
    border: none;
    background-color: var(--neutral-800);
}

.retry-btn:hover {
    background-color: var(--neutral-600);
}

.search-in-progress {
    bottom: -105%;
    left: 0;
    max-width: 30vw;
    width: 100%;
    background-color: var(--neutral-800);
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}

.search-in-progress.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.loading-icon {
    animation: spin 1.5s linear infinite;
}

.cities-list {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: var(--neutral-800);
    opacity: 0;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10
}

.cities-list.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.city:hover {
    background-color: var(--neutral-600);
}

@media (max-width: 820px) {
    body {
        padding: 1rem;
    }

    .flex-column-mob {
        flex-direction: column;
    }

    .text-center-mob {
        text-align: center;
    }

    .search-input,
    .search-box,
    .search-bar {
        width: 100%;
    }

    .search-bar {
        align-items: stretch;
        flex-direction: column-reverse;
    }

    .current-temp-box {
        background-image: url('assets/images/bg-today-small.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        padding: 3em;
    }

    .daily-f-box {
        padding: 0.5em;
    }

    .current-temp-container,
    .current-temp-container-loading {
        grid-template-rows: repeat(2, 1fr);
    }

    .current-temp-info-box,
    .current-temp-info-box-loading {
        grid-template-columns: repeat(2, 1fr);
    }

    .daily-f-container,
    .daily-f-container-loading {
        grid-template-columns: repeat(3, 1fr);
    }

    .sec-2 {
        grid-template-columns: 100%;
    }

    .city-name,
    .country-name {
        font-size: 0.9em;
    }

    .current-temp-text {
        font-size: 3.5em;
    }

    .search-in-progress {
        max-width: 100%;
    }
}